.wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.btn {
    min-width: 44px;
    border-radius: 0;

    &.active {
        border-bottom: 4px solid var(--primary-color);
    }
}

.next {
    transition: all ease 0.3s;

    &:hover {
        transform: translateX(4px);
    }
}

.prev {
    transition: all ease 0.3s;

    &:hover {
        transform: translateX(-4px);
    }
}
.pagination-module--container {
    align-items: center;
    display: flex;
    justify-content: center;
}
.pagination-module--container > * {
    margin-bottom: 1.6rem;
}
.pagination-module--prev {
    margin-right: 0.8rem;
}
.pagination-module--page {
    width: 4rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.pagination-module--active {
    background: 0 0 !important;
    cursor: default;
    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 1.2rem;
        right: 1.2rem;
        height: 0.2rem;
        background: var(--color-blue-400);
    }
}
.pagination-module--ellipsis {
    transform: rotate(90deg);
    margin: 0 0.4rem;
}
