@import 'normalize.css';

@import './Root.scss';
@import './GroupStyles.scss';
html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
// fonts
// @font-face {
//     font-family: UdemySans;
//     src: url(/assets/fonts/Udemy-Sans-Regular-v1.woff2);
//     font-weight: 400;
// }

// @font-face {
//     font-family: UdemySans;
//     src: url(/assets/fonts/Udemy-Sans-Bold-v1.woff2);
//     font-weight: 600;
// }

// @font-face {
//     font-family: UdemySans;
//     src: url(/assets/fonts/Udemy-Sans-Bold-v1.woff2);
//     font-weight: 700;
// }

@font-face {
    font-family: 'Udemy Sans';
    font-style: normal;
    font-weight: 400;
    /* To match token @font-weight-normal */
    font-display: fallback;
    src: local('Udemy Sans Regular'), local('UdemySans-Regular'),
        url(/assets/fonts/Udemy-Sans-Regular-v1.woff2) format('woff2');
}

@font-face {
    font-family: 'Udemy Sans';
    font-style: normal;
    font-weight: 700;
    /* To match token @font-weight-bold */
    font-display: fallback;
    src: local('Udemy Sans Bold'), local('UdemySans-Bold'), url(/assets/fonts/Udemy-Sans-Bold-v1.woff2) format('woff2');
}

@font-face {
    font-family: SuisseWorks;
    font-style: normal;
    font-weight: 700;
    /* To match token @font-weight-bold */
    font-display: fallback;
    src: local('SuisseWorks Bold'), local('SuisseWorks-Bold'),
        url(/assets/fonts/Udemy-Sans-Bold-v1.woff2) format('woff2');
}

// @font-face {
//     font-family: UdemySans;
//     src: url(/assets/fonts/TikTokFont-Bold.woff2);
//     font-weight: 700;
// }
body {
    font-family: var(--font-stack-text);
    overflow-y: overlay;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    color: var(--text-color);
}

//scrollbar css
html ::-webkit-scrollbar {
    border-radius: 0px;
    width: 8px;
}

// biểu định kiểu được chèn
::-webkit-scrollbar {
    width: 6px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

// biểu định kiểu được chèn
::-webkit-scrollbar-thumb {
    background-color: rgb(136, 136, 136);
    border-radius: 3px;
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

// biểu định kiểu được chèn
::-webkit-scrollbar-track {
    background-color: rgb(240, 240, 240);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}
a {
    color: var(--text-color);
    text-decoration: none;
}
// Custom tippy tooltip
body {
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }

    .tippy-content {
        padding: 8px 9px;
    }
}

// input
input[type='text' i] {
    padding-block: 1px;
    padding-inline: 2px;
}

input:not([type='file' i], [type='image' i], [type='checkbox' i], [type='radio' i]) {
}

//ul,li
ul,
ol {
    padding-left: 2.4rem;
}

li {
    padding-left: 0.8rem;
}

li + li {
    margin-top: 0.4rem;
}

p + p,
p + ul,
p + ol,
ul + p,
ul + ol,
ol + ol,
ol + p,
ol + ul {
    margin-top: 0.8rem;
}
*:focus,
a:focus,
input:focus,
button:focus {
    outline: none;
}
