.group-content {
    width: 272px;
    min-width: 28.8rem;
}

.group-item {
    padding: 1.6rem;
    text-align: center;
}

.group-text {
    margin-bottom: 1.6rem;
}

.group-btn {
    width: 100%;
    white-space: nowrap;
    margin-bottom: 0;
}
