.wrapper {
    width: 100%;
    position: relative;
    background: #fff;
    border: 1px solid #d1d7dc;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    border-radius: 8px;
    max-height: min(calc((100vh - 96px) - 60px), 734px);
    min-height: 80px;
    overflow: visible;
    padding-top: 0.8rem;
}

.arrow {
    position: absolute;
    top: -5%;
    left: 50%;
}
.options {
    padding: 8px 0;
    li {
        color: #444;
        cursor: pointer;
        display: block;
        font-size: 1.4rem;
        padding: 12px 20px;
        transition: 0.3s;
        &:hover {
            background-color: #999;
        }
    }
}
