.wrapper {
    display: flex;
    gap: 80px;
    margin: 0 120px;
    min-height: 100vh;
}
.sidebar-wrapper {
    width: 24%;
}
.heading {
    color: var(--text-color);
    font-size: 3rem;
    font-weight: 600;
    margin: 20px 0;
}
.page-wrapper {
    width: 60%;
}
